<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bgctub_transport_tracker_driver_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bgctub_transport_tracker_driver_app">

        <activity android:name=".TransportInformationUpdateActivity"
            android:label="@string/transportInformationUpdateActivityTitle"
            android:parentActivityName=".AppMainActivity"/>

        <activity android:name=".NewsAndUpdateActivity"
            android:label="@string/action_news_update_text"
            android:parentActivityName=".AppMainActivity"/>

        <activity android:name=".SettingsActivity"
            android:label="@string/action_settings_text"
            android:parentActivityName=".AppMainActivity"/>

        <activity
            android:name=".AppMainActivity"
            android:label="@string/title_activity_app_main"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Bgctub_transport_tracker_driver_app.NoActionBar" />

        <activity
            android:name=".HelpActivity"
            android:label="@string/menu_help"
            android:parentActivityName=".SignupActivity" />

        <activity
            android:name=".SignupActivity"
            android:label="@string/title_signup_activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TipsActivity"
            android:label="@string/title_tips_activity" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.BuildNotificationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.TrackerService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".services.MyFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

</manifest>